
//NEWEST BLOG LIST BLOCK
.newest_blog_blk {
  padding-bottom: 50px;

  .title {
    font-weight: $fontBold;
    font-size: 30px;
    line-height: 35px;
    color: $colorTxt;
    margin-bottom: 20px;
  }


  .list_post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include screen(1300px) {
      justify-content: center;
    }
  }

  .blog_post {
    padding: 10px;
    max-width: 300px;
    width: 100%;
    background: #F7F6F2;
    border-radius: 10px;

    @include screen(1300px) {
      margin: 10px;
    }

    @include screen(425px) {
      max-width: none;
      margin: 5px 0;
    }

    .post_pic {
      margin-bottom: 30px;
    }

    .post_title {
      font-weight: $fontMedium;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 20px;
      color: #147939;
      padding: 0 20px;
    }

    .post_description {
      padding: 0 20px;
      font-weight: $fontMedium;
      font-size: 14px;
      line-height: 20px;
      color: $colorTxt;
    }

    .post_button {
      background-color: transparent;
      border: 2px solid #147939;
      box-sizing: border-box;
      border-radius: 10px;
      width: 130px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #147939;
      font-weight: $fontBold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.857142px;
      text-transform: uppercase;
      margin: 20px;
      @include trans(background-color);

      &:hover {
        background-color: #147939;
        color: #fff;
      }
    }
  }
}