@import "mixines";

.main_footer {
  padding: 40px 0 15px 0;
  background-color: #252828;

  .cnt {
    display: flex;
    justify-content: space-around;

    @include screen(1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .footer_navigation {
      display: flex;
      align-items: center;
      margin: 10px 0;

      @include screen(767px) {
        flex-direction: column;
      }

      li {
        margin: 0 20px;

        @include screen(767px) {
          margin: 10px 0;
        }
      }

      a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #4FB355;
        text-decoration: none;
      }
    }

    p {
      font-size: 13px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF;
      margin: 10px 0;
    }
  }
}