@import "mixines";

.main_header {
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  .cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @include screen(1024px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  a {
    text-decoration: none;
    font-weight: 400;
    @include font-size(14px);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $colorTxt;
  }

  .main_navigation {
    display: flex;
    align-items: center;

    @include screen(1023px) {
      display: none;
    }

    @include screen(1023px) {
      width: 100%;
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      height: 0;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 50px 0;

      &.in {
        transition: all .3s ease-in-out;
        opacity: 1;
        height: calc(100% - 70px);
        position: fixed;
        top: 70px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      }
    }

    li {
      margin-left: 25px;
    }

    a {
      position: relative;
      text-transform: uppercase;
      display: block;
      white-space: normal;

      @include screen(1023px) {
        padding: 0;
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;

        &:after {
          height: 20px;
        }
      }
    }
  }
}

//MOBILE NAV BTN
.nav_button {
  display: none;
  height: 30px;
  width: 30px;
  margin: 10px 0;
  position: relative;

  @include screen(1023px) {
    display: block;
  }

  .ham {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &.active {
      .hamburger {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          top: 0;
          transform: rotate(135deg);
          box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .hamburger {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 30px;
      height: 5px;
      position: absolute;
      background: $colorTxt;
      transition: 0.5s;
      border-radius: 3px;

      &:before {
        top: -12px;
      }

      &:after {
        top: 12px;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        background: $colorTxt;
        transition: 0.5s;
        border-radius: 3px
      }
    }
  }
}

