//FONT
$baseFontFamily: 'Inter', sans-serif;
$baseFontSize: 16px;

$fontThin: 100;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

//COLOR
$colorTxt: #252828;
$colorGreen: #31A14A;