@import "reset";
@import "common";
@import "header";
@import "footer";

.main_block {
  position: relative;
  margin-top: -80px;
  @include screen(1190px) {
    margin-top: -50px;
  }
}

//List grid
.cnt_list {
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
  margin-bottom: 90px;

  .main_bg_blk {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 11;
    position: relative;
    z-index: -1;

    @include screen(767px) {
      grid-row-end: 5;
    }

    &:before {
      background: linear-gradient(90deg, $colorGreen 0.08%, #277842 57.15%, #256F40 99.92%);
      content: '';
      display: block;
      height: 100%;
      width: 1920px;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .company_bg_blk {

    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 11;
    position: relative;
    z-index: -1;

    @include screen(767px) {
      grid-row-start: 5;
      grid-row-end: 9;
    }

    &:before {
      background-color: #FFE100;
      content: '';
      display: block;
      height: 100%;
      width: 1920px;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .main_description_blk {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 8;
    align-self: center;
    padding: 80px 0 0 0;
    //outline: 1px solid red;

    @include screen(1190px) {
      grid-column-end: 7;
    }

    @include screen(767px) {
      grid-column-end: 11;
    }

    .txt {
      @include font-size(20px);
      line-height: 1.5;
      color: #FFFFFF;
      font-weight: 500;
      white-space: pre-line;

      @include screen(1190px) {
        white-space: normal;
      }

      span {
        color: #FFE100;
      }
    }
  }

  .main_title_blk {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 5;
    position: relative;
    z-index: 110;
    padding: 25px 0 75px 0;
    //outline: 1px solid green;

    @include screen(1190px) {
      padding: 25px 0 25px 0;
      grid-column-end: 6;
    }


    @include screen(767px) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-end: 8;
    }

    @include screen(425px) {

      grid-column-end: 11;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -100%;
      right: -100%;
      top: 0;
      bottom: 50px;
      z-index: -1;
      background: linear-gradient(270deg, rgba(20, 121, 57, 0.0001) 0.13%, #147939 99.66%);
      @include screen(1190px) {
        bottom: 0;
      }
    }

    .txt {
      @include font-size(24px);
      line-height: 1.4;
      font-weight: 900;
      color: #91DE95;
    }

    .txt_2 {
      @include font-size(40px);
      line-height: 1.4;
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
    }

    .txt_3 {
      @include font-size(14px);
      line-height: 1.4;
      font-weight: 500;
      color: #91DE95;
      @include screen(425px) {
        padding-right: 100px;
      }

      @include screen(375px) {
        padding-right: 100px;
      }
    }

  }

  .main_pic_blk {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 11;
    z-index: 120;
    align-self: center;
    justify-self: center;
    //outline: 1px solid yellow;

    @include screen(1190px) {
      grid-column-start: 6;
    }

    @include screen(767px) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 11;
      padding-top: 100px;
    }

    @include screen(425px) {
      grid-column-start: 1;
      grid-column-end: 11;
      padding-top: 100px;
    }

    img {
      max-width: 780px;
      width: 100%;
      margin-right: -50px;

      @include screen(425px) {
        max-width: none;
        width: 575px;
      }
    }
  }

  .main_subtitle_blk {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 11;
    padding-bottom: 35px;
    //outline: 1px solid blue;

    @include screen(767px) {
      grid-row-start: 4;
      grid-row-end: 5;
    }

    .txt {
      font-weight: 900;
      @include font-size(50px);
      line-height: normal;
      color: #FFFFFF;

      span {
        color: #FFE100;
      }
    }
  }

  .company_title_blk {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;
    padding: 30px 0;
    //outline: 1px solid darkorange;

    @include screen(767px) {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-end: 10;
    }

    .txt {
      @include font-size(24px);
      font-weight: 900;
      line-height: 1.4;
      text-transform: uppercase;
      color: $colorTxt;
    }
  }

  .company_description_blk {
    grid-row-start: 4;
    grid-column-start: 6;
    grid-row-end: 5;
    grid-column-end: 11;
    align-self: center;
    //outline: 1px solid darkmagenta;

    @include screen(767px) {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 6;
      padding-bottom: 40px;
    }

    @include screen(767px) {

      grid-column-end: 7;
    }
    .txt {
      @include font-size(20px);
      line-height: 1.4;
      color: $colorTxt;

      b {
        font-weight: 600;
      }
    }
  }

  .company_list_blk {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 7;
    //outline: 1px dashed darkgreen;
    min-height: 800px;
    background-color: #cccdaa;

    @include screen(767px) {
      grid-row-start: 8;
      grid-row-end: 11;
      grid-column-end: 11;
      order: 9;
    }
  }

  .company_pic_blk {
    grid-row-start: 5;
    grid-column-start: 7;
    grid-row-end: 6;
    grid-column-end: 11;
    //outline: 1px dotted greenyellow;

    @include screen(767px) {
      grid-row-start: 5;
      grid-row-end: 9;
      order: 8;
      justify-self: center;
      padding-top: 90px;
    }

    img {
      max-width: 265px;
      @include screen(767px) {
        max-width: 150px;
      }
    }
  }

  .company_form_blk {
    grid-row-start: 6;
    grid-column-start: 7;
    grid-row-end: 7;
    grid-column-end: 11;
    //outline: 1px solid darkblue;

    @include screen(767px) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 11;
    }
  }


  .find_offers_form {
    background: #F7F6F2;
    border: 4px solid #E1E0DA;
    border-radius: 10px;
    max-width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 20px 35px;

    @include screen(425px) {
      margin-top: 30px;
      padding: 30px 25px;
    }

    .txt {
      @include font-size(24px);
      line-height: normal;
      text-transform: uppercase;
      font-weight: 700;
      color: $colorTxt;
      margin-bottom: 10px;

      @include screen(1050px) {
        text-align: center;
      }

      span {
        color: $colorGreen;
      }
    }

    .zip_code {
      width: 65%;
      margin: 10px 0;
      @include screen(1050px) {
        width: 100%;
      }

    }

    .your_age {
      width: 30%;
      margin: 10px 0;

      @include screen(1050px) {
        width: 45%;
      }

    }

    .checkbox_list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      @include screen(1050px) {
        margin-top: 30px;
        width: 45%;
        flex-direction: column;
      }
    }
  }
}

